<GridLayout>
  <ActionBar>
    <Label text="WatchList"></Label>
  </ActionBar>

  <StackLayout class="page__content">
    <ng-container *ngIf="stocks && stocks.results.length > 0">
      <ListView [items]="stocks.results">
        <ng-template let-item="item">
          <StackLayout [nsRouterLink]="['../graph']">
            <Label class="ticker" [text]="item.ticker"></Label>
            <Label class="name" [text]="item.name"></Label>
            <GraphComponent [ticker]="item.ticker" [name]="item.name"></GraphComponent>
          </StackLayout>
        </ng-template>
      </ListView>
    </ng-container>

    <ng-container *ngIf="!stocks || stocks.results.length === 0">
      <Label class="page__content-icon fas" text="&#xf002;"></Label>
      <Label class="page__content-placeholder" text="<!-- Oops no stocks in the watchlist!-->"></Label>
    </ng-container>
  </StackLayout>
</GridLayout>
