.page__content {
    padding: 20;
}

.page__content-icon {
    font-size: 30;
    margin-bottom: 10;
}

.page__content-placeholder {
    font-size: 18;
    color: #999;
}
.clickable-label {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.clickable-label:hover {
  color: darkblue;
}
.ticker {
  font-weight: bold;
}

.name {
  font-size: 12px;
}
.round-button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
